
  <!-- Start Overlay -->
<div id="overlay" onmousedown="toggleOverlay()"></div>
<!-- End Overlay -->
<!-- Start Special Centered Box -->
<div id="boxContainer">
  <div id="specialBox">
    <iframe width="853" height="480" src="//www.youtube.com/embed/AplJShjRi2E?enablejsapi=1" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
<!-- end Special Centered Box -->


<!-- body content here -->


<!-- HEADER STARTS HERE -->
<section class="section_light">
  <div class="row" id="headerContentsContainer">
    <div class="large-6 small-12 columns " id="headerContainer">
      <img src="img/cask-and-slice-logo.png" >
    </div>

    <div class="large-6 small-12 columns" id="headerTextContainer">

        <span class="primary">Cask and slice </span>
        <span class="secondary">will be taking place </span>
        <span class="primary"><%= @event_date.strftime("%A") %> </span>
        <span class="secondary">the </span>
        <span class="primary"><%= @event_date.day.ordinalize %> </span>
        <span class="secondary">of </span>
        <span class="primary"><%= @event_date.strftime("%B") %> </span>
        <span class="secondary">at </span>
        <span class="primary"><%= @event_date.strftime("%l%p") %> </span>
        <span class="secondary">in </span>
        <span class="primary">shoreditch tech hub </span></br>
        <span class="secondary" style="font-size:26px;">(Free beer and Pizza) </span>

    </div>

  </div>

</section>
<!-- HEADER ENDS HERE -->

<!-- ######################## Section ######################## -->

<section class="section_speakers" id="columnPoints">

  <div class="row" id="talks">
    <hr/>
    <span class="primary"> TALKS </span>
    <hr/>
  </div>

  <div class="row">
    <% @event_talks.each do |talk| %>
    <div class="large-4 columns">
      <!-- <img src="" > -->
      <div style="background-image: url(/img/<%= talk["image"] %>);" class="speaker-avatar"></div>
      <h3><%= talk["name"] %></h3>
      <h4><%= talk["title"] %></h4>
      <p><%= talk["description"] %></p>
      <p><%= talk["biography"] %></p>
    </div>
    <%end%>

  </div>

</section>

<!-- ######################## end Section ######################## -->
